.loginModal{
  max-width: 400px;
  max-height: 500px;
}

.impressumModal{
  max-height: 90% !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.impressumModal{
  background: #455A64;
  color: white;
}

.hidden{
  visibility: hidden;
}

.btn {
  margin-top: 3px;
  padding: 0 1rem;
}

.money_desktop{
  visibility: hidden;
}

@media only screen and (min-width: 993px) {
  .money_desktop{
    visibility: visible;
    float: left;
    margin-left: 150px;
  }
}

@media only screen and (min-width: 600px) {
  .lef{
    border-radius: 2px 0 0 2px;
    margin-right: -4px;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

  .mid{
    border-radius: 0;
    margin-right: -4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
  }

  .rig{
    border-radius: 0 2px 2px 0;
    margin-right: -4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.percentage{
  float: right;
}

.options{
  float: right;
}

.money{
  margin: 0;
}
