body{
  background-color: #00C853;
}

html{
  color: white;
}

.projectbtn{
  margin-top: 50px;
}

.progress_round {
  margin-top: 100px;
  margin-bottom: 20px;
  height: 200px;
  position: relative;
  background-color: transparent;
  display: block;
  overflow: hidden;
}

.progress_round > svg {
  height: 100%;
  width: 100%
  display: block;
}

.countup{
  color: white !important;
}

.mark {
  position:absolute;
  margin-top: -175px;
  margin-left: -65px;
  height: 128px;
  width: 128px;
}

.imageRotateHorizontal{
  -moz-animation: spinHorizontal 3s infinite linear;
  -o-animation: spinHorizontal 3s infinite linear;
  -webkit-animation: spinHorizontal 3s infinite linear;
  animation: spinHorizontal 3s infinite linear;
}

@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.hidden {
  visibility: hidden;
}
