body{
  background-color: #00C853;
}

html{
  color: white;
}

.projectbtn{
  margin-top: 50px;
}

.progress {
  margin-top: 100px;
  margin-bottom: 30px;
  height: 200px;
  position: relative;
  background-color: transparent;
  display: block;
  overflow: hidden;
}

.progress > svg {
  height: 100%;
  width: 100%
  display: block;
}

.countup{
  color: white !important;
}
