body{
  background: #282C34;
}

.addbtn{
    position: fixed !important;
    bottom: 20px !important;
    background: #00C853 !important;
    height: 50px;
    width: 50px;
}

.btn-floating.addbtn i{
  line-height: 50px;
}

@media only screen and (max-width: 500px) {
.modal.full{
  width: 90%;
  max-height: 95%;
  height: 95%;
  top: 3% !important;
}

.modal.modal-fixed-footer{
  height: 95%;
}

.addbtn{
    position: fixed !important;
    bottom: 10px !important;
    top: 30px;
    z-index: 997;
    background: #607D8B !important;
}

.nav-up {
  margin-top: -45px;
}

.addbtn{
  transition: margin-top 0.2s ease-in-out;
}

.btn-up {
  margin-top: -45px;
}
}

.absolute{
  position: absolute;
}
.right{
  float: right;
}

.joinbtn{
  top: -20px;
  right: 20px;
}

.editbtn{
  top: -20px;
  right: 10px;
  margin-right: 20px;
}

.morebtn{
  top: -20px;
  left: 20px;
}

.navbar-fixed{
  margin-bottom: 30px;
}

.row{
  margin-bottom: 0px;
}

.fixed{
  position: fixed;
}

.bottom{
  bottom: -15px;
}

.modalTitle{
    margin-bottom: -40px;
}

.x-button{
  padding: 0rem;
}

.badge{
  
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after{
  border: 2px solid white;
}

input[type=range]{
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

input[type=range]::-webkit-slider-runnable-track {
    background: white;
}

header{
  transition: margin-top 0.2s ease-in-out;
}
